<div class="container container-fluid row justify-content-center mx-auto my-3">
  <div class="col-md-5 my-3">
    <form class="signup-form">
      <h4 class="text-info text-center">Create Account!!</h4>
        <div class="form-group row">
          <label for="username-signUp">Username:</label>
          <input class="form-control" type="text" id="username-signup">
        </div>
        <div class="form-group row">
          <label for="email-signup">Email:</label>
          <input class="form-control" type="email" id="email-signup" placeholder="user1234@email.com">
        </div>
        <div class="form-group row">
        <label for="password-signUp">Password:</label>
        <input class="form-control" type="password" id="password-signup">
        </div>
        <div class="text-center">
          <button class="btn btn-primary m-auto" type="submit">Submit</button>
        </div>
    </form>
  </div>
</div>

<script src="/js/createAccount.js"></script>