 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 

 <link rel="stylesheet" href="/css/dashboard.css">
 <link href="https://fonts.googleapis.com/css2?family=Shizuru&display=swap" rel="stylesheet">

    <div class="grid">
        <header class="header">
            <i class="fas fa-bars header__menu"></i>
            <div class="header__search">
               <h2 class="slogan">Putting the I back into THRiVE!!</h2>
            </div>
            <div class="header__avatar">
                <div class="dropdown">
                    <ul class="dropdown__list">
                        <li class="dropdown__list-item">
                            <span class="dropdown__icon"><i class="far fa-user"></i></span>
                            <span class="dropdown__title">my profile</span>
                        </li>
                        
                        <li class="dropdown__list-item">
                            <span class="dropdown__icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="dropdown__title">log out</span>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <aside class="sidenav">
            <div class="sidenav__brand">
                <i class="fas fa-feather-alt sidenav__brand-icon"></i>
                <a class="sidenav__brand-link" href="#">THR<span class="text-light">VE</span></a>
                <i class="fas fa-times sidenav__brand-close"></i>
            </div>
            <div class="sidenav__profile">
                <div class="sidenav__profile-avatar"></div>
                <div class="sidenav__profile-title text-light">Group 4</div>
            </div>
            <div class="row row--align-v-center row--align-h-center">
                <ul class="navList">
                    <li class="navList__heading">Health<i class="far fa-file-alt"></i></li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"></span>
                            <span class="navList__subheading-title">Physical</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Ratings</li>

                        </ul>
                    </li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"></span>
                            <span class="navList__subheading-title">Sleep</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Ratings</li>


                        </ul>
                    </li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"></span>
                            <span class="navList__subheading-title">Mental</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Ratings</li>
                            <li class="subList__item">Mood</li>

                        </ul>
                    </li>

                    <li class="navList__heading">messages</li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"></span>
                            <span class="navList__subheading-title">inbox</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Coming Soon!</li>

                        </ul>
                    </li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"></span>
                            <span class="navList__subheading-title">unread</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Coming Soon!</li>


                        </ul>
                    </li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"><i class="fas fa-book-open"></i></span>
                            <span class="navList__subheading-title">archives</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Coming Soon!</li>

                        </ul>
                    </li>


                    <li class="navList__heading">statistics</li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"></span>
                            <span class="navList__subheading-title">Physical</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Coming Soon!</li>
                        </ul>
                    </li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"></span>
                            <span class="navList__subheading-title">Sleep</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Coming Soon!</li>

                        </ul>
                    </li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"></span>
                            <span class="navList__subheading-title">Mood</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Coming Soon!</li>
                        </ul>
                    </li>


        </aside>

        <main class="main">
            <div class="main-header">
                <div class="main-header__intro-wrapper">
                    <div class="main-header__welcome">
                        <div class="main-header__welcome-title text-light">Welcome, <strong>{{name}}</strong>

                        </div>

                    </div>
                </div>

            


            </div> <!-- /.main__overview -->

           <div class="container-fluid">

               <img src="/images/thrve.png" class="thrve">
  ...
</div>

        </main>


        <footer class="footer">
            <p><span class="footer__copyright">&copy;</span> THRVE</p>
            <p>Developed <i class="fas fa-heart footer__icon"></i> by <a
                    href="https://www.linkedin.com/in/matt-holland/" target="_blank" class="footer__signature">Jesse,
                    Jessica, Javis & Alexander
                </a></p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/js/dashboard.js"></script>
