<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/navi.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300"
    />
    <title>THRVE</title>
  </head>
  <body>
    <div class="container">
      <section class="card" id="physicalEl">
        <div class="card_inner">
          <div class="card_inner__circle">
            <img
              src="https://cdn-icons.flaticon.com/png/512/2382/premium/2382533.png?token=exp=1645066462~hmac=7665a70c8b8a89b0c6ce3f0a74a5ffe5"
            />
          </div>
          <div class="card_inner__header">
            <img
              src="https://media.istockphoto.com/vectors/zumba-dance-black-girl-seamless-background-wallpaper01-vector-id1201074540?k=20&m=1201074540&s=612x612&w=0&h=zS3jRP-JQYK9P-Hrn7e8TTcDhq6xHrwYrEuxy5VhCF4="
            />
          </div>
          <div class="card_inner__content">
            <div class="title">Physical</div>
            <div class="text">From biking to body aches, check in with your
              physical health!</div>
          </div>
          <div class="card_inner__cta">
          </div>
        </div>
      </section>
      <section class="card" id="sleepEl">
        <div class="card_inner">
          <div class="card_inner__circle">
            <img
              src="https://icons-for-free.com/iconfiles/png/512/sleep-1324760623079080083.png"
            />
          </div>
          <div class="card_inner__header">
            <img src="https://wallpapercave.com/wp/wp5882380.jpg" />
          </div>
          <div class="card_inner__content">
            <div class="title">Sleep</div>
            <div class="text">Rest is the core of all wellness and this is where
              you'll document it!</div>
          </div>
          <div class="card_inner__cta">
          </div>
        </div>
      </section>
      <section class="card" id="mentalEl">
        <div class="card_inner">
          <div class="card_inner__circle">
            <img src="https://cdn-icons-png.flaticon.com/512/822/822178.png" />
          </div>
          <div class="card_inner__header">
            <img
              src="http://www.locustherapy.com/wp-content/uploads/2014/06/Depositphotos_43767469_s-700x300.jpg"
            />
          </div>
          <div class="card_inner__content">
            <div class="title">Mental</div>
            <div class="text">Think of this as your journal to document any
              feelings or thoughts!
            </div>
          </div>
          <div class="card_inner__cta">
          </div>
        </div>
      </section>
    </div>
    <script src="/js/navi.js"></script>
  </body>
</html>