body {
  margin: 0px;
  overflow: hidden;
}

circle {
  fill: steelblue;
}

.line-path {
  fill: none;
  stroke: #99fdcb;
  stroke-width: 4;
  stroke-linejoin: round;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 2.0em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 3em;
  fill: #99fdcb;
}

.title {
  font-size: 3.0em;
  fill: #99fdcb;
}