body {
  font-family: "Yanone Kaffeesatz", sans-serif;
}
body .container {
  width: 938px;
  position: absolute;
  top: 50%;
  left: 30px;
  right: 0;
  transform: translateY(-50%);
  margin: auto; 
}
body .container .card {
  margin: 0 auto;
  display: inline-block;
  margin-right: 30px;
  transform: scale(0);
  width: 280px;
  text-align: center;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 17px 46px -10px #777777;
  height: 470px;
  border-radius: 14px;
}
body .container .card:nth-of-type(1) {
  -webkit-animation: intro 1s 0.1s forwards;
          animation: intro 1s 0.1s forwards;
}
body .container .card:nth-of-type(2) {
  -webkit-animation: intro 1s 0.2s forwards;
          animation: intro 1s 0.2s forwards;
}
body .container .card:nth-of-type(3) {
  -webkit-animation: intro 1s 0.3s forwards;
          animation: intro 1s 0.3s forwards;
}
body .container .card:nth-of-type(1) {
  background: -webkit-linear-gradient(45deg, #b93455 0%, #f3a69c 100%);
}
body .container .card:nth-of-type(2) {
  background: -webkit-linear-gradient(45deg, #363abb 0%, #79b7db 100%);
}
body .container .card:nth-of-type(3) {
  background: -webkit-linear-gradient(45deg, #4eb942 0%, #99fdcb 100%);
}
body .container .card:hover .card_inner__header img {
  left: -50px;
  transition: all 3.4s linear;
}
body .container .card:hover .card_inner__cta button {
  transform: scale(1);
}
body .container .card:nth-of-type(1):hover .card_inner__circle img {
  -webkit-animation: spin 1s forwards;
          animation: spin 1s forwards;
}
body .container .card:nth-of-type(1) .card_inner__circle img {
  top: 22px;
  left: 1px;
}
body .container .card:nth-of-type(2):hover .card_inner__circle img {
  -webkit-animation: spin 1s forwards;
          animation: spin 1s forwards;
}
body .container .card:nth-of-type(2) .card_inner__circle img {
  top: 22px;
}
body .container .card:nth-of-type(3):hover .card_inner__circle img {
  -webkit-animation: spin 1s forwards;
          animation: spin 1s forwards;
}
body .container .card:nth-of-type(3) .card_inner__circle img {
  top: 22px;
  left: 1px;
}
body .container .card:hover {
  opacity: 1;
}
body .container .card_inner__circle {
  overflow: hidden;
  width: 70px;
  position: absolute;
  background: #F1F0ED;
  z-index: 10;
  height: 70px;
  border-radius: 100px;
  left: 0;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.28);
  right: 0;
  margin: auto;
  border: 4px solid white;
  top: 82px;
}
body .container .card_inner__circle img {
  height: 26px;
  position: relative;
  top: 17px;
  transition: all 0.2s;
}
body .container .card_inner__header {
  height: 120px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}
body .container .card_inner__header img {
  width: 120%;
  position: relative;
  top: -30px;
  left: 0;
  transition: all 0.1s linear;
}
body .container .card_inner__content {
  padding: 20px;
}

body .container .card_inner__content .text {
  color: #ffffffd2;
  font-weight: 100;
  margin-top: 20px;
  font-size: 20px;
  line-height: 16px;
}
body .container .card_inner__content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffffea;
  margin-top: 40px;
  font-size: 25px;
  letter-spacing: 1px;
}
body .container .card_inner__cta {
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
}


@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@-webkit-keyframes intro {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.06);
  }
  50% {
    transform: scale(0.965);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes intro {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.06);
  }
  50% {
    transform: scale(0.965);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}